@font-face {
    font-family: 'Montserrat Regular';
    src: url('../font/montserrat-regular-webfont.woff2') format('woff2'),
    url('../font/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Switch info */
.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ca8824;
}

body {
    width: 340px;
    font-family: 'Montserrat Regular', sans-serif;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    padding: 0;
}

#row-1 {
    margin-top: 20px;
}

#row-2 {
    margin-top: 15px;                                 ;
}

#row-3 {
    margin-top: 5px;
}

#row-4 {
    margin-top: 5px;
}

#row-6 {
    margin-top: 25px;
}

#foot-space {
    margin-top: 20px;
}

#product-icon {
    width: 30px;
    margin-top: 5px;
}

#product-header {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 8px;
    line-height: 41px;
}

.hidden-button {
    background: none;
    border: none;
}

.hidden-button:focus {
    outline: none;
}

#settings {
    padding: 2px 3px;
    border-radius: 100px;
}

#settings-img {
    width: 23px;
    height: 22px;
    margin-top: -5px;
}

#large-cookie-container {
    height: 110px;
}

#large-cookie-container img {
    width: 110px;
    position: absolute;
}

#btn-block-site {
    background-color: #856353;
    border-radius: 8px;
    color: #ffffff;
    height: 30px;
    line-height: 25px;
    font-size: 13px;
    width: 110px;
    padding: 0;
    text-transform: capitalize;
}

.text-centered[class*="col-"] {
    text-align: center;
}

#block-site-hint {
    font-size: 11px;
}

#block-site-url {
    font-size: 12px;
    font-weight: bold;
}

#incognito-label {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 13px;
}