/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    width: 410px;
}

#header-container {
    padding-top: 12px;
    padding-left: 18px;
}

#header img {
    width: 48px;
}

#header div.content {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 24px;
    color: #3835D0;
    padding-left: 0;
}

#text-1-container {
    padding-top: 10px;
    padding-left: 45px;
}

#text-1 {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

#text-2-container {
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

#favicon-img {
    width: 24px;
    vertical-align: middle;
}

#block-site-url {
    font-family: 'Montserrat', serif;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    vertical-align: middle;
}

#switch-container {
    padding-top: 15px;
    padding-left: 185px;
}

#block-switch input:checked + label:before {
    background-color: #3835D0 !important;
}

#block-switch input ~ span#switch-text-off {
    display: block;
}

#block-switch input ~ span#switch-text-on {
    display: none;
}

#block-switch input:checked ~ span#switch-text-off {
    display: none;
}

#block-switch input:checked ~ span#switch-text-on {
    display: block;
}

#switch-text-off {
    position: absolute;
    top: 3px;
    left: 22px;
    font-size: 11px;
}

#switch-text-on {
    position: absolute;
    top: 3px;
    left: 9px;
    font-size: 11px;
    color: #ffffff;
    z-index: 1;
}

#text-3-container {
    display: inline-flex;
    padding: 10px 25px 30px 35px;
}

#text-3-container i {
    color: #3835D0;
}

#text-3 {
    font-family: 'Montserrat', serif;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    line-height: 1px;
}